#segment-footer > .container {
  background-color: #ad1f2f;
}
.navbar-inverse {
  background-color: #ad1f2f;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #790713;
}
#family-nav {
  line-height: 50px;
  float: right;
  margin-top: 4px;
  color: #808080;
}
#family-logo {
  float: right;
  margin-left: 6px;
}

pre.json             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #EFFFEF ; 
	padding: 5px;
	width: 100%;
}

pre.rdf             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #fdedff ; 
	padding: 5px;
	width: 100%;
}

pre.fhirpath             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
  background: #ffeafb ; 
	padding: 5px;
	width: 100%;
}

pre.graphql             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #f7e6ff ; 
	padding: 5px;
	width: 100%;
}

pre.xml              {
	font-family: 'Courier New';
 	font-size: 9pt;
        padding: 2px;
        background: #F0FFFF ; 
	width: 100%;
}
